* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(30, 38%, 92%);
}

.main {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
.box {
    width: 550px;
    height: 430px;
    border-radius: 15px;
    display: flex;
    background-color: white;
  }

.img{
    width: 50%;
    height: 100%;
    background: url(./images/image-product-desktop.jpg) no-repeat;
    background-size: cover;
    border-radius: 15px 0px 0px 15px;
}

.info{
    width: 50%;
    height: 100%;
    border-radius: 0px 15px 15px 0px;
    margin: 5%;
}

.category{
    font-size: 14px;
    letter-spacing: 0.3rem;
    color:  hsl(228, 12%, 48%);
    font-variant-caps: all-small-caps;
    margin-bottom: 10%;
}

h1 {
    font-family: 'Fraunces', serif;
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 10%;
}

.description {
    font-size: 13px;
    color:  hsl(228, 12%, 48%);
    margin-bottom: 15%;
}

.current-price{
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 30px;
    margin-right: 10%;
}

.previous-price {
    font-size: 12px;
    color:  hsl(228, 12%, 48%);
    text-decoration: line-through;
}

button {
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 5px;
    width: 95%;
    height: 45px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin-top: 12%;
}
button img {
    width: 12px;
    margin-right: 5px;
    align-items: center;
}

.attribution { 
    position: fixed;
  left: 0;
  bottom: 15px;
  width: 100%;
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 600px){
    .box{
        flex-wrap: wrap;
        width: 350px;
        height: 560px;
    }
    .img{
        width: 100vh;
        height: 190px;
        background-size: contain;
        border-radius: 15px 15px 0px 0px;
        background: url(./images/image-product-mobile.jpg) no-repeat;
    }
    .info{
        width: auto;
        height: auto;
    }
    h1{
        margin-top: 2%;
        margin-bottom: 6%;
    }
    .category{
        margin-bottom: 3%;
    }
}